a {
  text-decoration: none;
  color: black;
}

.projects {
  max-width: 100%;
  padding: 3rem 15rem;
  margin-bottom: 6rem;
  .title {
    font-family: "TT Hoves Light";
    // font-size: 4.5rem;
    font-weight: 400;
    font-size: clamp(2rem, 10vw, 3.5rem);
    margin-top: 10rem;
    margin-bottom: 10rem;
    h1 {
      margin-left: 4rem;
      width: auto;
      display: inline-block;
      line-height: 0.9;
      color: #000000;
      span {
        display: block;
        &:last-of-type {
          position: relative;
          left: 12rem;
        }
      }
    }
  }
  .projects-section {
    flex-wrap: wrap;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .projects-left-layout,
    .projects-right-layout {
      flex-basis: calc(47% - 2rem);

      img {
        border-radius: 3px;
        width: 100%;
        object-fit: cover;
        clip-path: inset(100% 0% 0% 0%);
        transition: clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1);

        &.is-inview {
          clip-path: inset(0% 0% 0% 0%);
        }
      }

      .mainInfo {
        display: flex;
        justify-content: space-between;
        .projectTitle {
          margin-top: 0.8rem;
          display: inline-block;
          h1 {
            margin-top: 1rem;
            line-height: 3rem;
            span {
              font-family: TTHoves light;
              font-size: 3rem;
              display: block;

              &:last-of-type {
                font-family: TTHoves light;
                font-size: 1.5rem;
                line-height: 4rem;
              }
            }
          }
        }

        .arrow {
          display: flex;
          align-items: center;
          margin-right: 3.5rem;
          span {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

.moreBtn {
  background-color: #101010;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "TT Hoves Medium";
  margin: 6rem auto;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

// ipad
@media only screen and (max-width: 810px) {
  .projects {
    padding: 0rem 7rem;
  }
  .projects-section {
    flex-direction: column;
  }
  .projects-left-layout,
  .projects-right-layout {
    margin-bottom: 5rem;
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .projects {
    padding: 0rem 5rem;
  }
}
