* {
  margin: 0;
  padding: 0;
}

a.leftText {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

li {
  text-decoration: none;
  font-size: 1.6px;
  color: black;
  list-style-type: none;
}

li a:hover {
  color: #5f22d9;
  transition: color 0.2s ease-out;
}

li a.active {
  color: #5f22d9;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.027);
  display: flex;
  height: 10rem;
  z-index: 999;
  align-items: center;
  position: fixed;
  width: 100%;
}

.mainNav {
  display: flex;
}

.leftArea {
  margin-left: 8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.leftText {
  font-family: "TTHoves Medium";
  letter-spacing: 0.06rem;
}

.rightArea {
  position: absolute;
  right: 0;
  margin-right: 4rem;
}

.navRightLi {
  font-family: "TTHoves Medium";
  letter-spacing: 0.06rem;
  margin-right: 4.5rem;
  list-style: none;
}

.rightUl {
  display: flex;
}

@media only screen and (max-width: 698px) {
  .navigation {
    height: 12rem;
  }
}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 810px) {
  .navigation {
    display: none;
  }
  .hamburger-icon {
    position: absolute;
    right: 5rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 99999999;
  }
  .line {
    width: 3.7rem;
    height: 0.3rem;
    background: #101010;
    transition: 0.5s;
    border-radius: 2.5rem;
    margin-bottom: 0.52em;
    opacity: 1;
    transition: all 0.3s ease-in;
  }
  .line:last-child {
    width: 2.5rem;
    height: 0.3rem;
  }
  .active1 {
    background: #fff;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 10px 5px;
    transform: rotate(47deg);
    transform-origin: 10px 4.5px;
    width: 2.5rem;
  }
  .active2 {
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 6px -3px;
    transform: rotate(-45deg);
    transform-origin: 6px -3px;
    background: #fff;
  }
  .mobileNav {
    position: absolute;
    top: 0;
    left: 0;
    background: #101010;
    width: 100%;
    height: 100%;
    z-index: 9999;
    font-family: "MaximSans Semibold";
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
    transform: translateX(-100%);
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        display: flex;
        flex-direction: column;
        font-family: "TT Hoves Regular";
        margin-bottom: 3.5rem;

        a {
          color: rgba(255, 255, 255, 0.623);
          font-size: 5rem;
          letter-spacing: 0.2rem;
        }
        a:hover {
          color: white;
          transition: all 0.5s ease-in;
        }
      }
      .activeLi a {
        color: white;
      }
    }
  }
  .isOpen {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
  }
}
