@font-face {
  font-family: "TTHoves Light";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Light"),
    url("../public/fonts/TTHoves-Light.woff") format("woff");
}

@font-face {
  font-family: "TTHoves Regular";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Regular"),
    url("../public/fonts/TTHoves-Regular.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Source+Code+Pro:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "TTHoves Medium";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Medium"),
    url("../public/fonts/TTHoves-Medium.woff") format("woff");
}

@font-face {
  font-family: "TTHoves DemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-DemiBold"),
    url("../public/fonts/TTHoves-DemiBold.woff") format("woff");
}

@font-face {
  font-family: "TTHoves Bold";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Bold"),
    url("../public/fonts/TTHoves-Bold.woff") format("woff");
}

@font-face {
  font-family: "TTHoves Black";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Black"),
    url("../public/fonts/TTHoves-Black.woff") format("woff");
}

@font-face {
  font-family: "TTHoves ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-ExtraBold"),
    url("../public/fonts/TTHoves-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Helmwick";
  font-style: normal;
  font-weight: normal;
  src: local("Helmwick-Regular"),
    url("../public/fonts/Helmwick-Regular.woff") format("woff");
}

body {
  /* cursor: none; */
  margin: 0;
  font-family: "TTHoves Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* cursor: none; */
}

/* Custom Cursor */

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 999999999;
}

/* .cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #5525b6a2;
} */

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #541fbe80;
  background-color: rgba(0, 0, 0, 0);
}
