@font-face {
  font-family: "TTHoves Regular";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Regular"),
    url("../public/fonts/TTHoves-Regular.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Source+Code+Pro:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "TTHoves Medium";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Medium"),
    url("../public/fonts/TTHoves-Medium.woff") format("woff");
}

@font-face {
  font-family: "TTHoves DemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-DemiBold"),
    url("../public/fonts/TTHoves-DemiBold.woff") format("woff");
}

@font-face {
  font-family: "TTHoves Bold";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Bold"),
    url("../public/fonts/TTHoves-Bold.woff") format("woff");
}

@font-face {
  font-family: "TTHoves Black";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Black"),
    url("../public/fonts/TTHoves-Black.woff") format("woff");
}

@font-face {
  font-family: "TTHoves ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("TTHoves-Regular"),
    url("../public/fonts/TTHoves-ExtraBold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "TTHoves Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.darkscheme {
  background: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  z-index: 99999999;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
/* .c-scrollbar:hover {
  transform: scaleX(1.45);
} */
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
